<div id="gitmentContainer"></div>
<script src="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/gitment.browser.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/theme-next/theme-next-gitment@1/default.css"/>
<script>
var gitment = new Gitment({
    id: '{{ page.date }}',
    owner: 'hy05190134',
    repo: 'hy05190134.github.com',
    oauth: {
        client_id: 'd5058a6ca29c85a87fc7',
        client_secret: 'c4926f9962330c597609ad575eb70578b2e582d9',
    },
});
gitment.render('gitmentContainer');
</script>
